<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<!-- Servlets de la aplicacion -->
	
	<servlet>
		<servlet-name>Inicializacion</servlet-name>
		<servlet-class>es.upm.monitorizacion.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> 
	
	<servlet>
		<servlet-name>Correos</servlet-name>
		<servlet-class>es.upm.monitorizacion.servlet.CorreosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Correos</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Monitorizacion</servlet-name>
		<servlet-class>es.upm.monitorizacion.servlet.MonitorizacionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Monitorizacion</servlet-name>
		<url-pattern>/monitorizacion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Captura</servlet-name>
		<servlet-class>es.upm.monitorizacion.servlet.CapturaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Captura</servlet-name>
		<url-pattern>/captura</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Analisis</servlet-name>
		<servlet-class>es.upm.monitorizacion.servlet.AnalisisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Analisis</servlet-name>
		<url-pattern>/analisis</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
